<!DOCTYPE html>
<html>
<head>
	<title>About calcutta</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
</head>
<body>
	<section id='what-is-it'>
		<h1>What is a calcutta auction?</h1>

		<p>
			A Calcutta auction is an open auction that is held in conjecture with a sports tournament. In this case, the Men’s NCAA Basketball Tournament (March Madness). Calcutta auctions can vary in rules so we will explain how this one works. Or click the button and let's get started
		</p>

		<a href="http://localhost:3000/"><button>Cool, Let's get Started</button></a>

		<ol>
			<h3 id='rules'>Rules</h3>
			<span id='rules-list'>
				<li>A team is randomly selected and placed up for bid</li>
				<li>Bidding starts and users can bid any amount they want, you set your own budget</li>
				<li>This is repeated for all 64 teams</li>
				<li>Once all of the teams are auctioned off you have the total pot value that determines how much a win is worth.</li>
				<li>For this auction payouts are as follows</li>
					<ul>
						<li>1 win: (round of 32): 1% of the pot</li>
						<li>2 wins: (Sweet 16): 2.5% of the pot</li>
						<li>3 wins: (Elite 8): 5% of the pot</li>
						<li>4 wins: (Final 4): 8% of the pot</li>
						<li>5 wins: (Championship Game): 12% of the pot</li>
						<li>6 wins (National Champion): 16% of the pot</li>
					</ul>
				</span>
		</ol>
	</section>

	<section id='how-it-works'>
		<h2>Sound Like Fun?</h2>
		<p>If this is your idea of a good time we’ll explain how the app works.</p>

		<ol id='joke'>
			<li>Draft Teams</li>
			<li>???</li>
			<li>$$$ Profit $$$</li>
		</ol>

		<p>but really…</p>

		<ol id='instructions'>
			<li>You and your friends sign up for accounts</li>
			<li>One of you will create a pool and invite them through their usernames</li>
			<li>Once everyone is ready to go the person that created the pool will run the auction</li>
				<ol>
					<li>Click to start the auction and then click draw a team</li>
					<li>Once a team shows up all of the people in the pool will bet</li>
					<li>Once betting is done click finalize bid</li>
					<li>Then click draw a team again and repeat the cycle until all of the teams are gone</li>
				</ol>
			<li>That’s it, just 2 buttons, but be careful not to draw without submitting a bid or submitting a bid too early because all bets are final</li>
			<li>As the tournament plays out the teams will be updated to calculate everyone’s winnings for you</li>
		</ol>

		<a href="http://localhost:3000/"><button>Now I'm ready. Let's go</button></a>

	</section>

<script type="text/javascript" src='js/app.js'></script>
</body>
</html>